<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8" style="margin-left: -10%;">
      <div class="card" style="margin-left: 34%; width: auto;">
        <div class="card-header">
          <h5 class="title">Asignatura</h5>

        </div>
        <div class="card-body">

          <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0"
            class="sites-layout-name-one-column sites-layout-hbox">
            <tbody>
              <tr>
                <td class="sites-layout-tile sites-tile-name-content-1">
                  <div dir="ltr">
                    <div align="center">
                      <div align="center">
                        <div align="center">
                          <table border="1" cellpadding="0" cellspacing="0"
                            style="width:498.1pt;border-collapse:collapse" width="664">
                            <tbody>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p><span lang="ES">IDENTIFICACIÓN</span></p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Nombre de la
                                      asignatura</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><b><span lang="ES"
                                        style="font-family:Arial,sans-serif">{{asignatura.nombreAsignatura}}</span></b>
                                  </p>
                                </td>
                              </tr>
                              <tr style="height:14.05pt">
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:14.05pt"
                                  valign="top" width="302">
                                  <p style="text-align:justify"><span><span
                                        style="font-family:Arial,sans-serif">Código</span></span><span
                                      style="font-family:Arial,sans-serif"> de la asignatura</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:14.05pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><b> <span lang="ES"
                                        style="font-family:Arial,sans-serif">{{asignatura.codigo}}</span></b></p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <h2 style="text-align:justify"><a name="TOC-Programa-Acad-mico"></a><span lang="ES"
                                      style="font-size:12pt;font-family:Arial,sans-serif">Programa Académico</span></h2>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">{{asignatura.programaAcademico}}</span></p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <h2 style="text-align:justify"><a name="TOC-Cr-ditos-acad-micos"></a><span><span
                                        style="font-size:12pt;font-family:Arial,sans-serif">Créditos</span></span><span
                                      style="font-size:12pt;font-family:Arial,sans-serif">
                                      <span>académicos</span></span></h2>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">{{asignatura.creditos}}</span></p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Trabajo
                                      semanal del estudiante</span></p>
                                </td>
                                <td colspan="2"
                                  style="width:127.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="170">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Docencia
                                      directa:&nbsp; 4</span></p>
                                </td>
                                <td colspan="3"
                                  style="width:143.9pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="192">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Trabajo
                                      Independiente: 5</span></p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Trabajo
                                      semestral del estudiante</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">144</span>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <p style="text-align:justify"><span
                                      style="font-family:Arial,sans-serif">Pre-requisitos</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">{{asignatura.prerequisitos}}</span></p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <p style="text-align:justify"><span
                                      style="font-family:Arial,sans-serif">Co-requisitos</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">{{asignatura.corequisitos}}</span></p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="302">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Departamento
                                      oferente</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">{{asignatura.departamentoOferente}}</span>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  width="302">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Tipo de
                                      Asignatura</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:90.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="121">

                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif"><b>{{asignatura.tipoAsignatura}}</b></span>
                                  </p>
                                </td>

                              </tr>
                              <tr style="height:3.15pt">
                                <td rowspan="3"
                                  style="width:8.0cm;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:3.15pt"
                                  width="302">
                                  <p style="text-align:justify"><span style="font-family:Arial,sans-serif">Naturaleza de
                                      la Asignatura</span></p>
                                </td>
                                <td colspan="5"
                                  style="width:271.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="362">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">Habilitable­­­­­:
                                      <b>{{asignatura.habilitable}}</b></span></p>
                                </td>
                              </tr>
                              <tr style="height:3.1pt">
                                <td colspan="5"
                                  style="width:120.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:3.1pt"
                                  valign="top" width="181">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">Validable:
                                      <b>{{asignatura.validable}}</b></span></p>
                                </td>
                              </tr>
                              <tr style="height:3.1pt">
                                <td colspan="5"
                                  style="width:135.65pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:3.1pt"
                                  valign="top" width="181">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">Homologable:
                                      <b>{{asignatura.homologable}}</b></span></p>
                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <h1 style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm"><a
                                      name="TOC-PRESENTACI-N"></a><span
                                      style="font-size:12.0pt;color:black">PRESENTACIÓN</span></h1>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif;color:black">{{planAsignatura.presentacion}}.</span>
                                  </p>
                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <h1 style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm"><a
                                      name="TOC-JUSTIFICACI-N"></a><span
                                      style="font-size:12.0pt;color:black">JUSTIFICACIÓN</span></h1>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif;color:black">{{planAsignatura.justificacion}}<br>
                                      <br>
                                    </span></p>
                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p align="center"
                                    style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center">
                                    <b><span lang="ES" style="font-family:Arial,sans-serif;color:black">OBJETIVO
                                        GENERAL</span></b>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">{{planAsignatura.objetivoGeneral}}</span></p>
                                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p align="center"
                                    style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;">
                                    <b><span lang="ES" style="font-family:Arial,sans-serif;color:black">OBJETIVOS
                                        ESPECÍFICOS</span></b>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p style="margin-left:54.0pt;text-align:justify"><span lang="ES"
                                      style="font-size:11.0pt;font-family:Symbol">·<span
                                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </span></span><span
                                      style="font-family:Arial,sans-serif;color:black">{{planAsignatura.objetivosEspecificos}}</span><span
                                      lang="ES" style="font-family:Arial,sans-serif">.</span></p>

                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p align="center"
                                    style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;text-align:center;">
                                    <b><span lang="ES" style="font-family:Arial,sans-serif;color:black">COMPETENCIAS
                                        GENERALES Y ESPECÍFICAS</span></b>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p><b><span lang="ES" style="font-family:Arial,sans-serif">Competencias
                                        Generales</span></b></p>
                                  <p><span lang="ES" style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                  <p style="margin-left:36.0pt;text-align:justify"><span lang="ES"
                                      style="font-family:Wingdings">ü<span
                                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;
                                      </span></span><span lang="ES" style="font-family:Arial,sans-serif">Reconoce
                                      la importancia del trabajo en equipo, la permanente comunicación e
                                      interacción para el logro de las metas propuestas en el contexto. </span></p>
                                  <p style="text-align:justify"><span lang="ES"
                                      style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                  <p style="margin-left:36.0pt;text-align:justify"><span
                                      style="font-family:Wingdings">ü<span
                                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;
                                      </span></span><span lang="ES" style="font-family:Arial,sans-serif">Responde con
                                      responsabilidad a las actividades
                                      asignadas para el logro de los objetivos propuestos en la asignatura. </span></p>
                                  <p><span lang="ES" style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                  <p style="margin-left:36.0pt;text-align:justify"><span
                                      style="font-family:Wingdings">ü<span
                                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;
                                      </span></span><span lang="ES" style="font-family:Arial,sans-serif">Toma decisiones
                                      previo análisis de ventajas y
                                      desventajas a las que estas pueden conducir y su incidencia en las metas
                                      propuestas en el contexto<b>&nbsp;</b></span></p>
                                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                  <p style="margin-left:36.0pt;text-align:justify"><span
                                      style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                  <p style="text-align:justify"><b><span
                                        style="font-family:Arial,sans-serif">Competencias
                                        Especificas </span></b></p>
                                  <p style="text-align:justify"><b><span
                                        style="font-family:Arial,sans-serif">&nbsp;</span></b></p>
                                  <p style="margin-left:36.0pt;text-align:justify"><span
                                      style="font-family:Arial,sans-serif">Implementa
                                      modelos de base de datos relacionales potencializandolos con lenguaje
                                      procedural que permitan aportar en la solucion a problemas propuestos
                                      utilizando herramientas de diseño actuales.</span></p>
                                  <p style="margin-left:18.0pt;text-align:justify"><b><span
                                        style="font-family:Arial,sans-serif">&nbsp;</span></b></p>
                                  <p style="margin-left:36.0pt;text-align:justify"><span
                                      style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <h1 style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm"><a
                                      name="TOC-METODOLOG-A"></a><span style="font-size:12.0pt;color:black">METODOLOGÍA
                                    </span></h1>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p style="text-align:justify;line-height:150%"><span lang="ES"
                                      style="font-family:Arial,sans-serif">&nbsp;</span></p>
                                  <p style="text-align:justify;line-height:150%"><span
                                      style="font-family:Arial,sans-serif">La asignatura será
                                      dirigida por el docente, teniendo en cuenta los temas establecidos por la
                                      dirección del programa, a través de: </span></p>
                                  <p style="text-align:justify;line-height:150%"><b><span
                                        style="font-family:Arial,sans-serif">Docencia Directa</span></b><span
                                      style="font-family:Arial,sans-serif">: Esta estrategia corresponde a clases
                                      presenciales, dirigidas por el
                                      docente, el cual explicará y profundizará las ideas y conceptos principales
                                      de cada tema, fomentando la investigación, participación e interés del
                                      estudiante, mediante el diseño y dirección de proyectos, talleres, debates,
                                      mesas redondas, sustentaciones y socialización de: lecturas autorreguladas,
                                      mapas conceptuales y ensayos. </span></p>
                                  <p style="text-align:justify;line-height:150%"><b><span
                                        style="font-family:Arial,sans-serif">Trabajo Independiente:</span></b><span
                                      style="font-family:Arial,sans-serif"> Esta estrategia corresponde al
                                      autoaprendizaje por parte del
                                      estudiante. Para ello, debe documentarse y preparar los diferentes temas de
                                      la asignatura con anticipación; teniendo en cuenta el contenido suministrado
                                      por el docente, utilizando las diferentes fuentes bibliográficas.&nbsp; </span>
                                  </p>
                                  <p style="text-align:justify;line-height:150%"><b><span
                                        style="font-family:Arial,sans-serif">Horas de Asesoría:</span></b><span
                                      style="font-family:Arial,sans-serif"> Esta estrategia corresponde a la asesoría
                                      que debe brindar el docente
                                      a los estudiantes, sobre las tareas asignadas y en horas estipuladas
                                      independientemente de las horas de docencia directa.&nbsp; </span></p>
                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <h1 style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm"><a
                                      name="TOC-ESTRATEGIAS-METODOL-GICAS"></a><span
                                      style="font-size:12.0pt;color:black">ESTRATEGIAS METODOLÓGICAS</span></h1>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <p style="text-align:justify;line-height:150%"><span
                                      style="font-family:Arial,sans-serif">Entre las estrategias
                                      pedagógicas utilizadas por el docente para impartir la asignatura se
                                      encuentran:</span></p>
                                  <p style="margin-left:18.0pt;text-align:justify;line-height:115%"><span
                                      style="font-family:Symbol">·<span
                                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </span></span><span style="font-family:Arial,sans-serif">
                                      {{planAsignatura.estrategias}}</span>
                                  </p>
                                </td>
                              </tr>
                              <tr style="page-break-inside:avoid">
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <h1 style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm"><a
                                      name="TOC-CONTENIDO"></a><span
                                      style="font-size:12.0pt;color:black">CONTENIDO</span></h1>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="6"
                                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                                  valign="top" width="664">
                                  <div>
                                    <ul>
                                      <li *ngFor="let unidade of Unidades">
                                        <div>
                                      <li><strong>{{unidade.titulo}}</strong></li>
                                      <ol>
                                        <li *ngFor="let un of unidade.contenido">
                                          {{un}}
                                        </li>
                                      </ol>
                                  </div>
                                  </li>
                                  </ul>
                        </div>




                </td>
              </tr>
              <tr style="page-break-inside:avoid">
                <td colspan="6"
                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                  valign="top" width="664">
                  <h1 style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm"><a
                      name="TOC-EVALUACI-N"></a><span style="font-size:12.0pt;color:black">EVALUACIÓN</span></h1>
                </td>
              </tr>
              <tr>
                <td colspan="6"
                  style="width:498.1pt;border-right:1pt solid windowtext;border-bottom:1pt solid windowtext;border-left:1pt solid windowtext;border-top:none;background-image:initial;background-position:initial;background-repeat:initial;padding:0cm 3.5pt"
                  valign="top" width="664">
                  <p style="text-align:justify"><span lang="ES-MX" style="font-family:Arial,sans-serif;color:black">La
                      calificación de la asignatura
                      está organizada de
                      la siguiente forma:</span></p>
                  <p style="text-align:justify"><b><span lang="ES-MX"
                        style="font-family:Arial,sans-serif">&nbsp;</span></b></p>
                  <p style="text-align:justify"><b><span lang="ES-MX"
                        style="font-family:Arial,sans-serif;color:black">PARCIALES:</span></b></p>
                  <p style="margin-left:36.0pt;text-align:justify"><span lang="ES-MX"
                      style="font-family:Wingdings">Ø<span
                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;
                      </span></span><b><span lang="ES-MX" style="font-family:Arial,sans-serif;color:black">Primer
                        parcial:
                      </span></b><span lang="ES-MX" style="font-family:Arial,sans-serif;color:black">30%( 5% talleres,
                      trabajos,
                      5% primera entrega del proyecto final y 20% parcial).</span></p>
                  <p style="margin-left:36.0pt;text-align:justify"><span lang="ES-MX"
                      style="font-family:Wingdings">Ø<span
                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;
                      </span></span><b><span lang="ES-MX" style="font-family:Arial,sans-serif;color:black">Segundo
                        parcial: </span></b><span lang="ES-MX" style="font-family:Arial,sans-serif;color:black">30%( 5%
                      talleres, trabajos y asistencia, 5% segunda entrega del proyecto final y
                      parcial 20%.</span></p>
                  <p style="margin-left:36.0pt;text-align:justify"><span lang="ES-MX"
                      style="font-family:Wingdings">Ø<span
                        style="font-stretch:normal;font-size:7pt;line-height:normal;font-family:Times New Roman">&nbsp;
                      </span></span><b><span lang="ES-MX" style="font-family:Arial,sans-serif;color:black">Tercer
                        parcial:
                      </span></b><span lang="ES-MX" style="font-family:Arial,sans-serif;color:black">40%( 20% Parcial y
                      20%
                      Trabajo final).</span></p>
                  <p style="margin-left:36.0pt;text-align:justify"><span lang="ES-MX"
                      style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p style="text-align:justify"><b><span lang="ES-MX"
                        style="font-family:Arial,sans-serif;color:black">TRABAJOS</span></b></p>
                  <p style="text-align:justify"><b><span lang="ES-MX"
                        style="font-family:Arial,sans-serif">&nbsp;</span></b></p>
                  <p style="text-align:justify"><span lang="ES-MX"
                      style="font-family:Arial,sans-serif;color:black">Ejercicios.</span></p>
                  <p style="text-align:justify"><span lang="ES-MX"
                      style="font-family:Arial,sans-serif;color:black">Exposiciones.</span></p>
                  <p style="text-align:justify"><span lang="ES-MX"
                      style="font-family:Arial,sans-serif;color:black">Talleres.</span></p>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr style="page-break-inside:avoid">
                <td colspan="6"
                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;background:#38a970;padding:0cm 3.5pt 0cm 3.5pt"
                  valign="top" width="664">
                  <h1 style="margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm"><a
                      name="TOC-REFERENCIAS-BIBLIOGR-FICAS"></a><span style="font-size:12.0pt;color:black">REFERENCIAS
                      BIBLIOGRÁFICAS</span></h1>
                </td>
              </tr>
              <tr>
                <td colspan="6"
                  style="width:498.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt"
                  valign="top" width="664">
                  <p><span style="font-family:Arial,sans-serif">SISTEMAS DE BASES DE DATOS: UN ENFOQUE
                      PRACTICO PARA DISEÑO,
                      IMPLEMENTACION Y GESTION/PEARSON EDUCACION</span></p>
                  <p><span style="font-family:Arial,sans-serif">Autor: CONNOLLY, THOMAS M., 2005</span>
                  </p>
                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p><span style="font-family:Arial,sans-serif">PROCESAMIENTO DE BASES DE DATOS:
                      FUNDAMENTOS, DISEÑO E
                      IMPLEMENTACION/PEARSON EDUCACION </span></p>
                  <p><span style="font-family:Arial,sans-serif">Autor: KROENKE, DAVID M, 2002</span></p>
                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p><span style="font-family:Arial,sans-serif">FUNDAMENTOS DE LAS ESTRUCTURAS DE DATOS
                      RELACIONALES</span></p>
                  <p><span style="font-family:Arial,sans-serif">EDITORIAL LIMUSA, MEDINA, MIGUEL ÁNGELT,
                      2002</span></p>
                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p><span style="font-family:Arial,sans-serif">SQL MANUAL DE REFERENCIA / JAMES R.
                      GROFF, MCGRAW-HILL INTERAMERICANA,
                      Autor: GARCÍA CORDERO, ANTONIO...TR.,</span> <span
                      style="font-family:Arial,sans-serif">2003</span></p>
                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p><span style="font-family:Arial,sans-serif">SISTEMAS DE BASE DE DATOS:
                      ADMINISTRACIÓN Y USO / ALICE Y. H. TSAI, PRENTICE-HALL
                      HISPANOAMERICANA&nbsp; Autor: ALEJANDRO
                      EMILIO MONTES Y GÓMEZ DAZA...TR., 1990</span></p>
                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p><span style="font-family:Arial,sans-serif">FUNDAMENTOS DE BASES DE DATOS, MC GRAW
                      HILL Autor: SILBERSCHATZ
                      ABRAHAM: FERNANDO SAEN PEREZ,2003</span></p>
                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p><span style="font-family:Arial,sans-serif">DISEÑO CONCEPTUAL DE BASES DE DATOS,
                      ADDISON WESLEY- IBEROAMERICANA</span></p>
                  <p><span style="font-family:Arial,sans-serif">Autor: BATINI, CARLOS, 1994</span></p>
                  <p><span style="font-family:Arial,sans-serif">&nbsp;</span></p>
                  <p><span lang="EN-US" style="font-family:Arial,sans-serif">&nbsp;</span></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </td>
  </tr>
  </tbody>
  </table>

  <button type="button" class="btn btn-danger" style="margin-left: 30%; " (click)="abrir()">Solicitar
    Cambio</button>
  <button type="button" class="btn btn-danger" style="margin-left: 10px; " (click)="delete()">Eliminar Plan</button>


</div>
</div>