<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Datos Docente</h5>
        </div>
        <div class="card-body">
         <form  name="form" (ngSubmit)="f.form.valid && modify() " #f="ngForm" novalidate autocomplete="off">
            <div class="row">
              <div class="col-md-12 pl-1" >
                <div class="form-group">
                  <label for="email">Identificación</label>
                  <input name="id" #id="ngModel"  type="text" class="form-control" [(ngModel)]="docente.identificacion" disabled [ngClass]="{ 'is-invalid': id.touched && id.invalid }" required />
                  <div *ngIf="id.touched && id.invalid" class="invalid-feedback">
                    <div *ngIf="id.errors.required">La identificacion es requerida</div>
                </div>
                </div>
              </div>
              <div class="col-md-12 pl-1" >
                <div class="form-group">
                  <label for="email">Correo</label>
                  <input name="email" #email="ngModel" type="email" class="form-control" [(ngModel)]="docente.correo" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" required >
                  <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">El correo es requerido</div>
                </div>
                </div>
              </div>
            </div>w
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nombre</label>
                  <input name="nombre" #nombre="ngModel" type="text" class="form-control" placeholder="Nombre" [(ngModel)]="docente.nombre" [ngClass]="{ 'is-invalid': nombre.touched && nombre.invalid }" required >
                  <div *ngIf="nombre.touched && nombre.invalid" class="invalid-feedback">
                    <div *ngIf="nombre.errors.required">El nombre es requerido</div>
                </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Apellido</label>
                  <input name="apellido" #apellido="ngModel" type="text" class="form-control" placeholder="Apellido" [(ngModel)]="docente.apellido" [ngClass]="{ 'is-invalid': apellido.touched && apellido.invalid }" required>
                  <div *ngIf="apellido.touched && apellido.invalid" class="invalid-feedback">
                    <div *ngIf="apellido.errors.required">El apellido es requerido</div>
                </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Dirección</label>
                  <input  type="text"  class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="docente.direccion" placeholder="Home Address" placeholder="Dirección" [ngClass]="{ 'is-invalid': direccion.touched && direccion.invalid }" required>
                  <div *ngIf="direccion.touched && direccion.invalid" class="invalid-feedback">
                    <div *ngIf="direccion.errors.required">La dirección es requerida</div>
                </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Ciudad</label>
                  <input name="ciudad" #ciudad="ngModel" type="text" class="form-control" placeholder="City" [(ngModel)]="docente.ciudad" [ngClass]="{ 'is-invalid': ciudad.touched && ciudad.invalid }" required>
                  <div *ngIf="ciudad.touched && ciudad.invalid" class="invalid-feedback">
                    <div *ngIf="ciudad.errors.required">La ciduad es requerida</div>
                </div>
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>País</label>
                  <input name="pais" #pais="ngModel" type="text" class="form-control" placeholder="Country" [(ngModel)]="docente.pais" [ngClass]="{ 'is-invalid': pais.touched && pais.invalid }" required>
                  <div *ngIf="pais.touched && pais.invalid" class="invalid-feedback">
                    <div *ngIf="pais.errors.required">El país es requerido</div>
                </div>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <input name="about" #about="ngModel" type="text" class="form-control" placeholder="Country" [(ngModel)]="docente.sobreDocente" [ngClass]="{ 'is-invalid': pais.touched && pais.invalid }" required>  
                  <div *ngIf="about.touched && about.invalid" class="invalid-feedback">
                    <div *ngIf="about.errors.required">El about es requerido</div>
                </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger" (click)="delete(docente.identificacion)" [disabled]="!f.form.valid">Eliminar Docente</button>
            <button type="button" class="btn btn-danger" (click)="modify()" [disabled]="!f.form.valid">Editar Docente</button>
          </form>
        </div>
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/Sin título.png" alt="...">
              <h5 class="title">Nombre Apellido</h5>
            </a>
            <p class="description">
              prueba
            </p>
          </div>
          <p class="description text-center">
            "La programación es mi pasión"
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
    
  </div>

  
</div>

